$tablet-size: 900px;

$clr-primary: hsl(12, 88%, 59%);
$clr-secondary:hsl(0, 0%, 98%);
$clr-accent:hsl(13, 100%, 96%);

$clr-heading: hsl(228, 39%, 23%);
$clr-text:hsl(227, 12%, 61%);

$bg-footer:hsl(233, 12%, 13%);